:root {
  --colourCritical: rgb(255, 56, 56);
  --colourSerious: rgb(255, 179, 2);
  --colourCaution: rgb(252, 232, 58);
  --colourNormal: rgb(86, 240, 0);
  --colourStandby: rgb(45, 204, 255);
  --colourOff: rgb(158, 167, 173);
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  grid-template-areas: "hosts";
}

.container__hosts {
  grid-area: hosts;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.host {
  display: grid;
  grid-template-rows: 1em 1fr;
  grid-template-columns: 1em 1em 1fr 20px;
  grid-template-areas:
      "cpu mem name icon"
      "cpu mem proc proc";

  border: 0.3em solid #000000;
  border-radius: 6px;
  margin: 0.4em;
  height: auto;
}
.host__cpu {
  grid-area: cpu;
}
.host__mem {
  grid-area: mem;
}
.host__name {
  grid-area: name;
  padding-left: 0.5em;
}
.host__icon {
  grid-area: icon;
}
.host__processes {
  grid-area: proc;
  padding: 0.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.progress {
  display: flex;
  flex-direction: column-reverse;
  justify-items: flex-start;
}
.progress__fill {
  display: block;
  background-color: #000;
  border-radius: 6px 6px 0 0;
  transition: height 200ms ease-in-out;
}
.progress__fill--cpu {
  background-color: #659cef;
}
.progress__fill--mem {
  background-color: #760dea;
}

.host__icon--stopped {
  background-color: var(--colourOff);
  order: 3;
}
.host__icon--error {
  background-color: var(--colourCritical);
  order: 1;
}
.host__icon--running {
  background-color: var(--colourNormal);
  order: 2;
}

.process {
  border: 0.3em solid #000000;
  border-radius: 2px;
  margin: 0.4em;
  padding: 0.2em;
}
.process--running {
  border-color: var(--colourNormal);
  order: 2;
}
.process--stopped {
  border-color: var(--colourOff);
  order: 3;
}
.process--error {
  border-color: var(--colourCritical);
  order: 1;
}
.process--collapsed * {
  display: none;
}